In [11]:
from collections import defaultdict
import xml.etree.ElementTree as et
import pandas as pd
from sqlalchemy import create_engine, inspect
import psycopg2

* [Functions](#functions)
* [Read file](#read-file)
* [Export to SQL](#export-to-sql)

 <a class="anchor" id="functions"></a>
### Functions:

In [10]:
def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None

def read_xml_file(filename):
    parsed_xml = None
    with open(filename, "r") as myfile:
        parsed_xml = et.parse(myfile)
    if not parsed_xml:
        print("Error reading file")
        return None
    
    data = defaultdict(list)
 
    for i, row in enumerate(parsed_xml.getroot()):
        for node in row:
            key = node.tag
            if key in data:
                data[key].append(getvalueofnode(node))
            else:
                data[key] = [float('nan')]*(i+1)
                data[key][i] = getvalueofnode(node)
 
    df_xml = pd.DataFrame(data, columns=data.keys())
    df_xml.set_index(df_xml.columns[0], inplace=True)
 
    return df_xml

<a class="anchor" id="read-file"></a>
### Read file:

In [7]:
df = read_xml_file("data/safety/toronto_200k.xml")
df.head()

,ESTABLISHMENT_ID,INSPECTION_ID,ESTABLISHMENT_NAME,ESTABLISHMENTTYPE,ESTABLISHMENT_ADDRESS,LATITUDE,LONGITUDE,ESTABLISHMENT_STATUS,MINIMUM_INSPECTIONS_PERYEAR,INFRACTION_DETAILS,INSPECTION_DATE,SEVERITY,ACTION,COURT_OUTCOME,AMOUNT_FINED
ROW_ID,,,,,,,,,,,,,,,
1,1222579,103868579,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76797956,-79.229029122,Pass,2,Operator fail to properly wash equipment,2016-12-21,M - Minor,Notice to Comply,,
2,1222579,104063869,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76797956,-79.229029122,Pass,2,None,2017-10-04,None,None,None,None
3,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76797956,-79.229029122,Pass,2,Fail to Hold a Valid Food Handler's Certificat...,2018-06-20,NA - Not Applicable,Notice to Comply,,
4,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76797956,-79.229029122,Pass,2,Operator fail to properly wash equipment,2018-06-20,M - Minor,Notice to Comply,,
5,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76797956,-79.229029122,Pass,2,Operator fail to properly wash surfaces in rooms,2018-06-20,M - Minor,Notice to Comply,,

### Export to SQL  <a class="anchor" id="export-to-sql"></a>

In [12]:
cnx = create_engine('postgres://jessica:123@localhost:5432/rpred', isolation_level='AUTOCOMMIT')
conn = cnx.connect()

In [13]:
df.to_sql('toronto_health_inspections', conn, if_exists='append', index=False)
# Confirm that the table is created
inspector = inspect(conn)
print(inspector.get_table_names())

['xml_test', 'toronto_health_inspections']

### Check results <a class="anchor" id="export-to-sql"></a>

In [28]:
cred = ''
with open("credentials/localhost/jessica.txt") as credfile:
    cred=credfile.read().strip()
    
cnx = create_engine('postgres://{}@localhost:5432/rpred'.format(cred), isolation_level='AUTOCOMMIT')
conn = cnx.connect()

pd.read_sql_query('''SELECT DISTINCT "INSPECTION_DATE" FROM toronto_health_inspections ORDER BY "INSPECTION_DATE";''',cnx)

    INSPECTION_DATE
0        2016-06-30
1        2016-07-04
2        2016-07-05
3        2016-07-06
4        2016-07-07
5        2016-07-08
6        2016-07-10
7        2016-07-11
8        2016-07-12
9        2016-07-13
10       2016-07-14
11       2016-07-15
12       2016-07-18
13       2016-07-19
14       2016-07-20
15       2016-07-21
16       2016-07-22
17       2016-07-25
18       2016-07-26
19       2016-07-27
20       2016-07-28
21       2016-07-29
22       2016-08-02
23       2016-08-03
24       2016-08-04
25       2016-08-05
26       2016-08-08
27       2016-08-09
28       2016-08-10
29       2016-08-11
..              ...
486      2018-05-18
487      2018-05-22
488      2018-05-23
489      2018-05-24
490      2018-05-25
491      2018-05-28
492      2018-05-29
493      2018-05-30
494      2018-05-31
495      2018-06-01
496      2018-06-04
497      2018-06-05
498      2018-06-06
499      2018-06-07
500      2018-06-08
501      2018-06-11
502      2018-06-12
503      2018-06-13
504      2018-06-14
505      2018-06-15
506      2018-06-18
507      2018-06-19
508      2018-06-20
509      2018-06-21
510      2018-06-22
511      2018-06-25
512      2018-06-26
513      2018-06-27
514      2018-06-28
515      2018-06-29

[516 rows x 1 columns]